adium-theme-ubuntu==0.3.4
asn1crypto==0.22.0
build==1.0.2
cffi==1.10.0
cryptography==1.9
discovery==0.0.4
dnspython==1.12.0
ecdsa==0.13
enum34==1.1.6
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
oauth2client==4.1.0
paramiko==1.16.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
pycrypto==2.6.1
pyOpenSSL==16.2.0
requests==2.5.0
rsa==3.4.2
six==1.10.0
unity-lens-photos==1.0
uritemplate==3.0.0
